@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: "Noto Sans JP", sans-serif;
  background: url("../img/fondo.png");
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: rgb(134, 132, 132);
}

.comprar{
  text-decoration: none;
  display: inline-block;
  color: rgb(254, 253, 253);
}

img {
  width: 80%;
  height: auto;
}

nav, .servicios, .presentacion, .footer-content {
  width: 80%;
  margin: auto;
}

.titulo-servicios, .presentacion {
  margin-bottom: 10%;
}

p {
  font-size: 1.8rem;
  color: rgb(134, 132, 132);
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
  font-weight: lighter;
}

.btn, .btn-secundario, .btn-principal {
  border: none;
  border-radius: 2px;
  padding: 0.7em 1.5em;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  transition: transform 100ms;
}
.btn:hover, .btn-secundario:hover, .btn-principal:hover {
  transform: scale(1.1);
}

.btn-principal {
  color: #fff;
  background-color: #C70039;
}

.btn-secundario {
  background-color: rgb(134, 132, 132);
}

.logo {
  width: 100px;
  height: 20px;
}

header {
  position: fixed;
  top: 0;
  border-top: 30px solid rgb(52, 53, 51);
  width: 100%;
}

.wrapper {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
nav ul {
  display: flex;
  padding: 0;
}
nav ul a {
  padding: 10px;
  font-size: 1.6rem;
  font-weight: bold;
}
nav ul a:hover {
  color: #C70039;
  transform: scale(1.1);
}

.presentacion {
  padding-top: 200px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.presentacion .flex-item2 {
  text-align: center;
}
.presentacion h1 {
  margin-top: 0;
  padding-right: 20px;
  font-size: 3rem;
}
.presentacion p {
  padding-right: 20px;
  padding-bottom: 10px;
}

.servicios div {
  text-align: center;
}
.servicios .tipo-servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.servicios .tipo-servicios i {
  font-size: 30px;
  color: #C70039;
}

footer {
  min-height: 80px;
  background-color: rgb(52, 53, 51);
  margin-top: 0;
}
footer .footer-content {
  text-align: center;
  padding-bottom: 30px;
}

@media (min-width: 1400px) {
  nav, .servicios, .footer-content, .presentacion {
    width: 60%;
    margin: auto;
  }
}
@media (max-width: 992px) {
  .presentacion, .tipo-servicios {
    flex-direction: column;
  }
  .presentacion div {
    text-align: center;
    margin-bottom: 30px;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  nav ul {
    padding-left: 0;
  }
}
@media (max-width: 420px) {
  .presentacion div {
    text-align: center;
    margin-bottom: 30px;
  }
  .presentacion div h1, .presentacion div p {
    padding: 0;
  }
}/*# sourceMappingURL=main.css.map */

/*:::Boton-Modal:::*/
.boton-modal{
  padding: 40px;
  background-color: #fff;
}
.boton-modal label{
  padding: 10px 15px;
  background-color: #5488a3;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms ease;
}
.boton-modal label:hover{
  background-color: #185E83;
}
/*:::Fin Boton-Modal:::*/

/*:::Ventana Modal:::*/
#btn-modal{
  display: none;
}
.container-modal{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0; left: 0;
  background-color: rgba(144, 148, 150, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  
}
#btn-modal:checked ~ .container-modal{
  display: flex;
  
}
.content-modal{
  width: 100%;
  height: 70%;
  max-width: 80%;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  overflow: auto;
  
}
.content-modal h2{
  margin-bottom: 15px;
}
.content-modal p{
  padding: 15px 0px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
.content-modal .btn-cerrar{
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}
.content-modal .btn-cerrar label{
  padding: 7px 10px;
  background-color: #C70039;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms ease;
}
.content-modal .btn-cerrar label:hover{
  background-color:#C70039;
}
.cerrar-modal{
  width:100%;
  height: 100vh;
  position: absolute;
  top:0; left: 0;
  z-index: -1;
}


.productoEnCarrito {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}
.productoEnCarrito:hover {
  border-left: 5px solid rgb(5, 4, 4);
}

.boton-eliminar {
  background-color: white;
  color: red;
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  cursor: pointer;
}
.boton-eliminar:focus {
  outline: none;
}

@media screen and (max-width:800px) {
  .content-modal .productoEnCarrito{
      width: 95%;
      height: 70%;
      display: inline-block;
  }
  
}

.formulario{
	display: flex;
	justify-content: center;
	padding: 50px;
  padding-top: 120px;
	
}
.formulario form{
	padding: 30px;
	border-radius: 6px;
	overflow: hidden;
	background: #fff;
	box-shadow: 0px 1px 10px rgb(0,0,0,0.2);
	cursor: default;
	transition: all 400ms ease;
}
.formulario form h2{
	text-align: center;
}
.boton-formulario{
  background-color: #C70039;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px;
}
.iconos-redes-sociales{
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
  
}
.iconos-redes-sociales img{
  width: 2rem;
  height: 2rem;
  margin: 0px 10px 0px 0px;
}
.footer-contact{
  width: auto;
  color: white;
  padding-top: 30px;
  text-align: center;
  padding-bottom: 0px;
  font-size: 1.5rem;
}
.footer-ubicacion{
  width: auto;
  color: white;
  padding-bottom: 0px;
  text-align: center;
  padding-bottom: 0px;
  font-size: 1.5rem;
}
.ubication{
  width: auto;
  color: white;
  text-align: center;
  font-size: 13px;
  font-family: 'Lucida Sans', sans-serif;
  padding: 1rem;
}
